version: '2'
services:
  mongo:
    container_name: mongo
    image: mongo
    build: db/.
    volumes:
      - ./db/data:/data/db
    ports:
      - '27017:27017'
  api:
    container_name: api
    restart: always
    build: api/.
    volumes:
      - ./api:/usr/src/yourapp
      - /usr/src/yourapp/node_modules
    ports:
      - '4242:4242'
    links:
      - mongo
